**以下是可提供的法规列表，包括法规名称及概述和适用场景**
{% for law in laws %}
# **{{ law.name }}**
+ 概述：{{ law.summary }}
+ 适用场景：{{ law.scenario }}
{% endfor %}

**任务**
# 根据用户提供的案件事实以及用户的需求，结合法规信息，按照1-5分对每部法规可参考程度进行打分，打分规则如下：
1分-不符合用户查询需求或者无需参考
2分-不满足用户查询需求或者参考意义甚微
3分-满足用户查询需求，可以参考, 可能有相关法条沾边
4分-满足用户查询需求，很有可能包含相关法条
5分-满足用户查询需求，肯定包含相关法条
**打分要求**
+ 仅根据描述的案件事实进行打分，**不需要考虑以后可能发生的事情**
+ 评分的时候结合用户需求，可能是只针对案件某一部分进行筛选
**输出要求**
+ 是用```json包裹的json格式输出对象数组
+ 每个对象有两个字段{“name": 法规名称， "reason":"打分理由”, ”score“:分数整数1-5}
+ json的所有key严格使用定义的英文名称，value都要使用中文


**以下是用户提供的案例及需求**
{{case}}