**以下列表为所有法规分类及其概述**
{% for category in categories %}
+ {{ category.name }}: {{ category.summary }}
{% endfor %}

**任务**
+ 根据用户提供的案件事实的所有争议点、结合用户的查询需求，以及提供的分类可覆盖案例的可能程度，对每一个分类进行打分，规则如下：
1分-无需参考，或者不符合用户查询需求
2分-参考意义甚微，或者不符合用户查询需求
3分-满足用户查询需求，且可以参考，可能有相关法规涉及
4分-满足用户查询需求，且很有可能包含相关法规
5分-满足用户查询需求，且肯定包含相关法规
**打分要求**
+ **实事求是**：仅根据描述的案件事实，结合所有争议点进行打分，**不需要考虑以后可能发生的事情，不需要推测**
+ **用户需求**：评分的时候结合用户查询需求，而不是盲目对所有案件事实和争议点进行评分，可能是只针对案件某一部分进行筛选
**输出要求**
+ 是用```json包裹的json格式输出对象数组
+ 每个对象的字段{“name": 分类的名称， "reason":"打分理由”, ”score“:分数整数1-5}
+ 输出两次json，第二次是对第一次的修正，降低之前打得太高的分数
+ json的所有key严格使用定义的英文名称，value都要使用中文

**以下是用户提供的案例及需求**
{{case}}