** 以下是《{{docName}}》中其中一个目录层级的全部目录层级的名称 **

{% for path in pathes %}
{{ path }}
{% endfor %}

** 以下是用户指定的要查看的此法规中的层级路径 **
{{ path_name_compare }}

** 任务 **
# 根据用户指定的路径和法规库中的目录层级，比对法规中的目录层级名称，找出最符合用于描述的路径的名称， 并确定是否还要继续深入到此目录中更深层次的目录层次路径。结果以json对象输出。格式如下：
  + path_name: 匹配上的《{{docName}}》的目录层级路径名
  + finish: true/false; true-代表已经完全命中，false-代表还需要继续深入到更深层次的目录路径
# 直接输出json，无需输出其他内容

** 举例如下 **
# 法规库中的目录层级：
+ 民法典物权第一编物权
+ 民法典物权第二编婚姻
# 用户问题： ”物权第一章第二节的内容“
+ 输出结果
```json
{
  "path_name": "民法典物权第一章物权",
  "finish": false
}
```
# 用户问题："婚姻编" 
{
  "path_name": "民法典物权第二编婚姻",
  "finish": true
}