{{ case }}
**任务**
# 以上为用户提供的案情介绍，和可能存在的查询需求，针对以上内容提取如下信息并使用json输出。
+ summary: 案件概述,简要描述案件的基本情况，包括时间、地点、主体、核心行为和损害后果等信息
+ contention: 所有案件争议焦点的数组，提取案件争议焦点或者原告诉求内容的简述，如没有明确的争议焦点，可以提取可能的争议焦点。争议焦点要简洁明确直达问题核心。多个争议点分开成数组元素, 如最终无法提取争议焦点，则用空数组
+ keywords: 关键词数组，提取规则如下：
 1. 提取案例中未明确提及，但通过事件逻辑、人物行为、利益冲突等关联的核心关键词，例如：当出现商业纠纷时，可能隐含 “合同”“违约”；当涉及医疗争议时，可能隐含 “诊疗规范”“责任划分”。​
 2. 深度挖掘案例中事件背后的法律关系、行业规则、经济逻辑等潜在要素，提炼出能够概括案例核心矛盾与解决路径的关键词，即便这些词未在案例文本中直接出现。​
 3. 分析案例中人物的行为动机、利益诉求、矛盾焦点，提取与之紧密相关的专业术语、法律概念或行业关键词，即便原文未直接表述。
 4. 提取的同事要考虑用户的查询需求，仅提取与用户查询相关的关键词。
+ relations：争议焦点涉及的主体，可能是原告、被告、第三人等
+ query：用户在描述案情的时候可能有明确的查询需求，如没有则用null
+ law_scope: 用户明确指定的查询范围字符串，多个查询范围用逗号隔开，**只有当用户明确指定了**要查询的法律法规的范围，如”反恐法“，”妇女保护法第二十四条”，“民法物权部分”等，则提取出来，如果没有明确指定，则用null
+ query_method: 字符串枚举：'law_info‘：表示用户未提供任何案例，只想单纯查询某些指定的法规内容，'law_compare'：表示要按照案例内容对比法规。如果无法判定，则用null

**law_scope解析要求**
+ 每一个范围都要明确，并且根据用户指定的要求上下文补充为全称
+ 如用户要查询治安法第2章的内容及104条的内容，则需要补充为”治安法第二章“，“治安法第104条”。
+ 层级最深支持到“条”，如“治安法第二章第一节第102条第一款”，后面的“款”是不支持的，只需要提取到条即可。

**输出要求**
+ 仅提取信息，不要增加其他描述
+ 是用```json包裹的json格式输出对象
+ json格式严谨，null和空数组都要正确使用
+ json的所有key严格使用定义的英文名称，value都要使用中文