### ** 以下是法规列表 **
{%- for law in laws %}
+ {{ loop.index }}. {{ law.name }}
{%- endfor %}
---


**任务**
# 用户询问了一系列法规中某些章节条款的内容，你需要将用户要查询的所有法规及其章节条款的名称，逐一分解为法规+路径，其中法规名可能为简称，你需要将其与上述库存法规列表中的法规进行匹配。如果能匹配到全称如”反恐法“匹配到”中华人民共和国反恐怖主义法“。则这条记录作为数组的一个对象加入要输出的json数组中。针对每一条能从上述库存法规列表中匹配到名称的完整法规路径都按照如下字段提取信息，并放入到如下格式的json中:
```json
[
    {
        "name": "法规名称",
        "index": 1,
        "path": [{"partname": "婚姻编", "index": 1, "unit": "编"}, {"partname": "物权编", "index": 1, "unit": "章"}],
        "path_summary": "婚姻编、物权编"
    }
]
```
**解析规则**
+ name: 法规名称，比较用户显式指定的法规名称和库存法规列表中的名称，根据库存法规列表中能匹配的名称作为实际的法规名称
+ index: int, 从上述库存法规列表中匹配到第几条，如无法匹配，index为-1
+ path: 如果index为-1，则输出null。否则按照此规则提取：用户指定了明确的查询路径，比如第几条，或者第几编，第几章第几条。按照路径层级将一条路径分解数组，格式如下： [{"partname", "index": 阿拉伯数字编号, "unit": "路径层名称,如编、分编，章、节、条"}]， 第一个为高层级，最后一个为最低层级，如未指定任何路径层级，但是有明确要查询的内容，unit可以使用”部分”， 则为空数组
+ path中的每个层级对象包含以下字段：
  - name: 本层级的路径名称，比如““婚姻编”等， 如果用户没有指定，则用null
  - unit: 本层级的路径单位，如编、分编，章、节、条。如果用户未提及指定，则用null
  - index: 本层级的路径编号，阿拉伯数字。如果用户没有指定，则用null
+ path_summary: 对path做一个完整的描述，描述中不包括法规本身的名字，而是只包含其内部的路径信息，如“婚姻编、物权编”、“第1024条”等，如果用户指定的整部法规，这里直接用“整部法规”


**法规名称匹配规则**
+ 先判定用户要查询的法规以及路径，如用户问A法规第2条和B规章第10条，应该分解为用户要分别查询”A法规第2条“和”B规章第10条“
+ 针对用户每条要查询的法规名字，从库存法规列表中匹配完整的名字。如果未匹配到，则整条记录不予输出。
+ 若用户未提及任何法规名称，**禁止基于案例、行为或场景推断法规名称**，即使该场景在常识中属于某部法规范畴（例如“赌博判罚”默认关联《刑法》）。
+ 若用户输入中包含多个法规名称，需分别处理每个法规名称。

**path分解规则**
+ 同一部法规的相同路径要合并，不要产生重复的路径
+ path的unit层级由高到低分别为：编、分编，章、节、条。如用户未明确指定unit，则unit=设置为null, 如警察法枪械相关的内容，应该匹配到 {partname:"枪械部分", "index": null, "unit": null}
+ 每一条记录中的path数组只代表一条完整的路径。如第一章第二节，那么path为[{"index":1, "unit":”章“}, {"index": 2, "unit": ”节“}]， 
+ 如果同一个法规有多个路径要查询，应该分为多条记录
+ 路径最深匹配到条，条以后的路径不再继续匹配。如：第三编第110条第二款，只匹配到第三编第110条

**输出数据限制**
+ 当法规名称无法匹配到库存法规列表中的任何法规名称的时候，json数组中不予输出此法规的路径
+ 若用户未提及任何法规名称，禁止基于案例、行为或场景推断法规名称
+ 不需要输出任何分析和总结的内容
